libraries
logs
.settings
administrator
attachments
bin
cache
cli
components
images
includes
language
layouts
tmp
.buildpath
.htaccess
.project
configuration.php
media
modules
plugins
templates
CONTRIBUTING.md
htaccess.txt
index.php
LICENSE.txt
php_mail.log
README.md
README.txt
robots.txt
robots.txt.dist
web.config.txt
